.bg__wrapper{
    background: url(../img/background1.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container__wrapper{
    width: auto;
    background: rgba(255, 255, 255, 0.8);
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
    padding: 0 30px;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

a.link{
    background: none;
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
a.link_default{
    color: grey;
    text-decoration: underline;
    border: 1px solid grey;
}
a.link_contact:hover{
    text-decoration: underline;
}
a.link_header{
        color: #FF1493;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}
a.link_header:hover{
    background: #FF1493;
    color: #ffffff;
    cursor: pointer;
}
a.link_product{
    color:#FF1493;
}

.error{
    color:#FF1493;
}
.mytitle{
    color:#FF1493;
    font-size: medium;
}
a.btn1 {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(255, 0, 255, 0.3) 0 2px 5px;
}
a.btn1:active {
    top: 1px;
    box-shadow: none;
}
a.btn1:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.checkbox,
.radio {
    display: none;
}
.checkbox-custom,
.radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #cc1b6c;
    border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}
.button19 {
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding-top: 9px;
    color: #000000;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: bold 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
}

.button19:not(.active) {
    box-shadow: inset 0 1px 1px rgba(204, 27, 108, 0.8), inset 0 -1px 0px rgba(204, 27, 108, 0.2), 0 9px 16px 0 rgba(180, 27, 90, 0.3), 0 4px 3px 0 rgba(180, 27, 90, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#b41b5a, #cc1b6c);
    text-shadow: 0 0 21px rgba(204, 27, 108, 0.5), 0 -1px 0 #cc1b6c;
}

.button19:not(.active):hover,
.button19:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(204, 27, 108, 0.5), 0 0 10px rgba(204, 27, 108, 0.4), 0 0 2px #cc1b6c;
}
.button19:not(:hover) {
    transition: 0.6s;
}
.button1{
width: 30px;
height: 100%;
border-radius: 5px;
border: 1px solid grey;
background: #cc1b6c;
color: #000000;
font-size: 24px;}

.knopka01 {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(0,79,86);
    user-select: none;
}
.knopka01:hover {
    color: rgb(0,59,66);
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: rgb(128,207,214);
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popupText {
    visibility: hidden;
    width: 160px;
    background-color: #cc1b6c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #b41b5a transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}