.bg__wrapper{
    background: url(../img/background1.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container__wrapper{
    width: auto;
    background: rgba(255, 255, 255, 0.8);
    min-height: 100%;
    margin: 0 auto;
    z-index: 1;
   /* padding: 0 30px;*/
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

a.link{
    background: none;
    color: inherit;
    /*display: inline-block;*/
    text-decoration: none;
}
a.link_default{
    color: grey;
    text-decoration: none;
    border: 1px solid grey;
}
a.link_contact:hover{
    text-decoration: underline;
}
a.link_header{
        color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}
a.link_header:hover{
   /* background: #FF1493;*/
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;

}
a.link_product{
    color:#cc1b6c;
}

.error{
    color:#cc1b6c;
}
.mytitle{
    color:#cc1b6c;
    font-size: medium;
}


.checkbox,
.radio {
    display: none;
}
.checkbox-custom,
.radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}
.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #cc1b6c;
    border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}
.button1{
    width: 30px;
    height: 100%;
    border-radius: 5px;
    border: none;
    background: #cc1b6c;
    color: #000000;
    font-size: 24px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);}
.knopka01 {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(204, 27, 108) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(255, 255, 255);
    user-select: none;
}
.knopka01:hover {
    color: rgba(204, 27, 108, 0.3);
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: rgb(255, 168, 187);
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popupText {
    visibility: hidden;
    width: 160px;
    background-color: #cc1b6c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #cc1b6c transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.example-2 .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #555}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#888;border-color:#888}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.example-2 .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.example-2 .input-file + .js-labelFile .icon:before{content:"\f093"}
.example-2 .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

.vvod{
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #ff149370;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
