// Heading Color
$heading-color: #242424;

// Text Color
$text-color: #cc0099;

// Default Background
$bg-default: #ffccff;

// Gray Background
$bg-gray: #ff99ff;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #131212;

// Border Color
$border-color: #cc0099;

// Hover Color
$hover-color: #fbb710;

// Footer Color
$footer-color: #cc0099;

// Secondary Color
$secondary-color: #999999;